pyquaternion
matplotlib==3.3.4
opencv-python==4.1.2.30
PyQt5==5.15.6
open3d==0.16.0
scipy~=1.10.1
pillow~=9.4.0
pyyaml~=6.0
protobuf~=3.20
nuscenes-devkit==1.1.9
waymo-open-dataset-tf-2-6-0==1.4.9
tqdm==4.62.3
numpy~=1.19.2
pandas
tensorflow
